<!DOCTYPE html>

<span lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>List View</title>

    <link rel="stylesheet" href="./normalize.css">
    <link rel="stylesheet" href="./list.css">
  </head>
  <body>
    <div id="container">
      <div id="header">
        <!-- <div class="header__table-wrapper">
          <div class="header__table-cell">
            <div class="logo"></div>
            <div class="header__bar"></div>
            <div class="header__title">데이터 통계</div>
          </div>
        </div> -->
        <div class="logo">Hi PS</div>
        <div class="header__bar"></div>
        <div class="header__title">데이터 통계</div>
      </div>
      <div id="content"></div>
    </div>
  </body>
</html>