<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>List View</title>

    <link rel="stylesheet" href="./normalize.css">
    <link rel="stylesheet" href="./list.css">
  </head>
  <body>
    <div id="container">
      <div id="header">
        <!-- <div class="header__table-wrapper">
          <div class="header__table-cell">
            <div class="logo"></div>
            <div class="header__bar"></div>
            <div class="header__title">데이터 통계</div>
          </div>
        </div> -->
        <div class="header__left">
          <div class="logo">Hi PS</div>
          <div class="header__bar"></div>
          <div class="header__title">데이터 통계</div>
        </div>
        <div class="header__right">
          <div class="btn__header-logout">로그아웃</div>
          <div class="header__profile-img">김</div>
          <div class="header__name">김아무개...</div>
        </div>
      </div>
      <div id="content">
        <div class="nav-side">
          <ul class="nav-side__profile-list">
            <li>
              <div class="nav-side__user-name">관리자</div>
              <div class="nav-side__profile-img-wrapper">
                <div class="nav-side__profile-img"></div>
              </div>
            </li>
            <li>
              <div class="nav-side__user-name">챗봇</div>
              <div class="nav-side__profile-img-wrapper">
                <div class="nav-side__profile-img"></div>
              </div>
            </li>
          </ul>
          <ul class="nav-side__menu">
            <li>
              <div class="nav-side__menu-icon-wrapper">
                <div class="nav-side__menu-icon nav-side__menu-playground--inactive"></div>
              </div>
            </li>
            <li>
              <div class="nav-side__menu-icon-wrapper">
                <div class="nav-side__menu-icon nav-side__menu-stat--inactive"></div>
              </div>
            </li>
            <li>
              <div class="nav-side__menu-icon-wrapper">
                <div class="nav-side__menu-icon nav-side__menu-enhance--inactive"></div>
              </div>
            </li>
            <li>
              <div class="nav-side__menu-icon-wrapper">
                <div class="nav-side__menu-icon nav-side__menu-talk--inactive"></div>
              </div>
            </li>
            <li>
              <div class="nav-side__menu-icon-wrapper">
                <div class="nav-side__menu-icon nav-side__menu-setting--inactive"></div>
              </div>
            </li>
          </ul>
        </div>
        <div class="content">
          <div class="content-wrapper">
            <div class="content-header">
              <h2 class="content-header__subtitle">데이터 통계</h2>
              <h1 class="content-header__title">전체 대화 이력 보기</h1>
            </div>
            <div class="content-list-wrapper">
              <div class="content-list__wrapper">
                <div class="content-list__c1">No.</div>
                <div class="content-list__c2">사용자 ID</div>
                <div class="content-list__c3">전체 발화 수</div>
                <div class="content-list__c4">인식실패 발화 수</div>
                <div class="content-list__c5">총 방문 수</div>
                <div class="content-list__c6">마지막 대화</div>
              </div>
              <ul class="content-list">
                <li>
                  <div class="content-list__wrapper">
                    <div class="content-list__c1"></div>
                    <div class="content-list__c2"></div>
                    <div class="content-list__c3"></div>
                    <div class="content-list__c4"></div>
                    <div class="content-list__c5"></div>
                    <div class="content-list__c6"></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>