.txt__main--color {color: #000c4f;}
.txt__sub--color {color: #98a5b4;}

.txt__main--prop {font-size: 14px;font-weight: 500;letter-spacing: -0.7px;}
.txt__sub--prop {font-size: 14px;letter-spacing: -0.7px;}